body{
    background:#f3e5f5;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.container{
    padding:20px;
    background:white;
    width: 35%;
    height:auto;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(202, 202, 202, 0.12), 0 6px 6px rgba(153, 152, 152, 0.12);
}
.form{
    width: 75%;
    padding:20px;
    height: auto;
}
.input{
    width: 70%;
    border: none;
    padding-left: 20px;
    border-radius: 7px;
    background: #f3e5f5;
    height: 5vh;
    font-family: 'Poppins', sans-serif;
}
.button{
    width: 28%;
    height: 5vh;
    border-radius: 7px;
    background: #673ab7;
    color: white;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 10px 20px rgba(202, 202, 202, 0.12), 0 6px 6px rgba(153, 152, 152, 0.12);
    font-size: 16px;
}
.flex{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h2{
    font-size: 16px;
}
img{
    width: 100px;
    height: auto;
    margin-bottom: 20px;
    animation: pulse 8s infinite;
}
.divAppend{
    animation: pulse 2s;
}

@keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
}
